div#colorprofile-example
{
  width: 974px;
  margin: 8px 203px;
}
div#colorprofile-example-label-wrapper
{
  border-left: 2px dashed;
  border-top: 2px dashed;
  border-right: 2px dashed;
}
div#colorprofile-example div.listing-entry
{
  border-left: 2px dashed;
  border-right: 2px dashed;
}
div#colorprofile-example-info-wrapper
{
  border-left: 2px dashed;
  border-bottom: 2px dashed;
  border-right: 2px dashed;
}

div#colorprofile-selectors { margin: 5px 105px; }