div#column-left, div#column-right { width: 267px; }
div#column-center { width: 418px; }

div#quickinfo-top, div#quickinfo-middle, div#quickinfo-bottom
{
  width: 237px;
  padding-left: 5px;
  padding-right: 5px;
}

div#quickinfo-middle { height: 130px; }
div#quickinfo-middle div#quickinfo-killer { left: 154px; right: 23px; }
div#quickinfo-middle div#quickinfo-victim { left: 23px; right: 154px; }
div#quickinfo-middle div#quickinfo-icon
{
	left: 113px;
	right: 113px;
	top: 29px;
	bottom: 80px;
}
div#quickinfo-middle div#quickinfo-icon-text
{
  bottom: 65px;
	top: 55px;
	left: 100px;
	right: 100px;
	line-height: 10px;
  font-size: 9px;
}
div#quickinfo-killer img, div#quickinfo-victim img { border-radius: 10px; }
div#quickinfo-killer div#quickinfo-killer-ship, div#quickinfo-victim div#quickinfo-victim-ship
{
  top: 27px;
	bottom: 43px;
	border: 2px solid #999999;
	border-radius: 11px;
}
div#quickinfo-killer div#quickinfo-killer-ship
{
	right: 27px;
	left: 3px;
}
div#quickinfo-victim div#quickinfo-victim-ship
{
	left: 27px;
	right: 3px;
	border-color: #700000;
}
div#quickinfo-killer div#quickinfo-killer-name, div#quickinfo-victim div#quickinfo-victim-name
{
  bottom: 22px;
	top: 70px;
	left: -10px;
	right: -10px;
	line-height: 18px;
  font-size: 13px;
}
div#quickinfo-killer div#quickinfo-killer-corp, div#quickinfo-victim div#quickinfo-victim-corp
{
  bottom: 10px;
	top: 88px;
	left: -10px;
	right: -10px;
	line-height: 12px;
  font-size: 10px;
}
div#quickinfo-killer div#quickinfo-killer-alliance, div#quickinfo-victim div#quickinfo-victim-alliance
{
  bottom: -3px;
	top: 100px;
	left: -10px;
	right: -10px;
	line-height: 10px;
  font-size: 9px;
}

div#fitting-panel
{
  transform: scale(0.65);
  transform-origin: top left;
}

div#comments
{
  position: relative;
  top: -128px;
}
div#comments-title { width: 237px; }
div#no-comments { width: 227px; }
div.comment-entry
{
  width: 237px;
  padding-bottom: 28px;
}
div.comment-entry + div.comment-entry { margin-top: -6px; }
div.comment-entry div.comment-commenter-avatar
{
  left: 5px;
	top: 8px;
	width: 30px;
	height: 30px;
}
div.comment-entry div.comment-commenter-name
{
  top: 5px;
	left: 37px;
  right: 5px;
  font-size: 11px;
	height: 15px;
}
div.comment-entry div.comment-date
{
  font-size: 7px;
  padding-left: 5px;
}
div.comment-entry div.comment-text
{
  left: 40px;
	top: 21px;
	width: 180px;
	font-size: 10px;
}
div#comment-form { width: 225px; }
div#comment-form-input
{
  left: 42px;
	top: 27px;
	right: 5px;
	bottom: 5px;
}
textarea#comment-form-inputarea
{
  width: 168px;
	height: 48px;
}

div.item-entry { width: 398px; }
div.item-entry div.item-icon
{
  width: 25px;
  left: 10px;
}
div.item-entry div.item-name
{
  left: 45px;
  width: 180px;
}
div.item-entry div.item-quantity
{
  right: 73px;
  width: 40px;
}
div.item-entry div.item-value
{
  left: 325px;
  right: 10px;
}

div#attackers-summary { width: 217px; }
div#attackers-summary-ship1 { left: 10px; }
div#attackers-summary-ship2 { display: none; }
div#attackers-summary-header, div#attackers-summary-info
{
  left: 45px;
  width: 179px;
}

div.attacker-entry { height: 65px; }
div.attacker-entry div.attacker-avatar
{
  width: 55px;
  border-radius: 10px;
}
div.attacker-entry div.attacker-ship, div.attacker-entry div.attacker-weapon
{
  width: 21px;
  height: 21px;
  border: 1px solid #999999;
  bottom: 12px;
}
div.attacker-entry div.attacker-ship { left: 18px; }
div.attacker-entry div.attacker-weapon { left: 43px; }
div.attacker-entry div.attacker-name, div.attacker-entry div.attacker-corporation, div.attacker-entry div.attacker-alliance, div.attacker-entry div.attacker-types
{
  width: 115px;
  left: 60px;
  top: 3px;
}
div.attacker-entry div.attacker-name
{
  font-size: 12px;
  line-height: 13px;
}
div.attacker-entry div.attacker-corporation { font-size: 10px; }
div.attacker-entry div.attacker-alliance { font-size: 8px; letter-spacing: 0.5px; }
div.attacker-entry div.attacker-types { font-size: 9px; }
div.attacker-entry div.attacker-damage, div.attacker-entry div.attacker-damage-pct { width: 50px; }
div.attacker-entry div.attacker-damage
{
  top: 9px;
  right: 10px;
  font-size: 12px;
}
div.attacker-entry div.attacker-damage-pct
{
  top: 24px;
  right: 6px;
  font-size: 9px;
}